@use "../abstracts/" as *;
.navigation {
  color: $clr-gunmetal;
  @include respond(phone) {
    display: none;
  }
  & > * {
    transition: color 0.3s ease;
    &:not(:last-child) {
      margin-right: 4rem;
    }
    &:hover {
      color: $clr-light-vermillion;
    }
  }
}
