@use "../abstracts/" as *;
.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  height: 12.7rem;
  @include respond(phone) {
    margin-bottom: 10rem;
    height: fit-content;
  }
}
