//fonts
$font-family-default: "Inter", sans-serif;
$fs-default: 1.5rem;

$fw-regular: 400;
$fw-bold: 700;
$fw-extra-bold: 800;

$fs-heading-xl: 5.6rem;
$fs-heading-l: 4rem;
$fs-heading-m: 3.2rem;
$fs-heading-s: 2rem;
$fs-heading-xs: 1.8rem;
$fs-body: $fs-default;

$lh-heading-xl: 5.6rem;
$lh-heading-l: 4rem;
$lh-heading-m: 3.2rem;
$lh-heading-s: 2.4rem;
$lh-heading-xs: 2.4rem;
$lh-body: 2.6rem;

//colors
$clr-almost-white: #fffdfa;
$clr-dark-space-blue: #00001a;
$clr-gunmetal: #5e607a;
$clr-light-vermillion: #f15d51;
$clr-silver: #c5c6ce;
$clr-yellow: #e9aa52;

//brealpoints
$br-desktop: 1440px;
$br-tablet: 760px;
$br-mobile: 550px;
